.width100 {
    width: 100%;
}

/* =============================================================================
 * Always show scrollbar on android
 * https://stackoverflow.com/questions/42080282/scrollbar-doesnt-show-on-mobile-device/42101413
 */

::-webkit-scrollbar {
   -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
   width: 10px;
}

::-webkit-scrollbar:horizontal {
   height: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: #ccc;
   border-radius: 10px;
   border: 2px solid #eee;
}

::-webkit-scrollbar-track {
   background-color: #eee;
}
