$primary: #0ae;
$dark: #000;

$pad-xs: 0.2rem;
$pad-sm: 0.6rem;
$pad-md: 0.9rem;

$border-radius-md: 7px;

.width100 {
    width: 100%;
}

.flex_center_h {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type=radio] {
    margin-right: $pad-xs;
}
