@import "common";

#dialog_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparentize($dark, 0.8);
    z-index: 999;
    align-items: center;
    justify-content: center;

    #dialog {
        box-shadow: 0 0 2em 0 transparentize($dark, 0.6);
        border-radius: $border-radius-md;
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 80vw;
        max-height: 70vh;
        min-width: 60vw;
        min-height: 20vh;

        #dialog_header {
            width: 100%;
            border-top-left-radius: $border-radius-md;
            border-top-right-radius: $border-radius-md;
            border: 1px solid $primary;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: $primary;
            color: white;

            .close-btn {
                margin-left: $pad-md;
                color: white;
                cursor: pointer;
            }

            padding: $pad-sm;
        }

        #dialog_contents {
            width: 100%;
            height: 100%;
            padding: $pad-sm;

            p:not(:first-child) {
                margin-top: $pad-sm;
            }
        }
    }
}
